@import '../../styles/app';

.notifications {
  @include media-breakpoint-up(md) {
    width: 333px;
  }
  background: $main-gradient;
  box-shadow: 0 0px 40px 2px rgba(#020202,.5);
  border-radius: $border-radius;
  height: 100%;
  border: none;
}

.cardHeader {
  border-radius: 0;
}

.notificationButtons {
  display: flex;
  .notificationButton {
      flex: 1 1;
  }
}

.cardFooter {
  padding-top: 14px;
  padding-bottom: 14px;
  border-top: none;
}

.btnNotificationsReload {
  color: $navbar-link-color;
  outline: none;

  i::before {
    top: 2px;
  }
}
